In [1]:
import pandas as pd

In [2]:
path_images_train = "../../data/kvasir_new/"

In [3]:
df_train_info = pd.read_csv(path_images_train + "train_info.csv")
df_train_info

          image_id age_approximate     sex
0     ISIC_0000000              55  female
1     ISIC_0000001              30  female
2     ISIC_0000002              60  female
3     ISIC_0000003              30    male
4     ISIC_0000004              80    male
...            ...             ...     ...
1995  ISIC_0015220              75    male
1996  ISIC_0015233              60    male
1997  ISIC_0015260              55  female
1998  ISIC_0015284              75    male
1999  ISIC_0015295              70    male

[2000 rows x 3 columns]

In [4]:
df_train_labels = pd.read_csv(path_images_train + "train_labels.csv")
df_train_labels

          image_id  melanoma  seborrheic_keratosis
0     ISIC_0000000       0.0                   0.0
1     ISIC_0000001       0.0                   0.0
2     ISIC_0000002       1.0                   0.0
3     ISIC_0000003       0.0                   0.0
4     ISIC_0000004       1.0                   0.0
...            ...       ...                   ...
1995  ISIC_0015220       0.0                   1.0
1996  ISIC_0015233       0.0                   1.0
1997  ISIC_0015260       0.0                   1.0
1998  ISIC_0015284       1.0                   0.0
1999  ISIC_0015295       0.0                   1.0

[2000 rows x 3 columns]